<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<div>
    <div _nghost-dho-c236="" class="ng-star-inserted theme-default">
        <div _ngcontent-dho-c236="" class="page-layout carded fullwidth">
            <div _ngcontent-dho-c236="" class="top-bg accent "></div>
            <div _ngcontent-dho-c236="" class="center scroll-element">
                <div _ngcontent-dho-c236="" fxlayout="row" fxlayoutalign="start center" class="header p-24"
                    style="flex-direction: row; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center;">
                    <h2 _ngcontent-dho-c236="" class="m-0 titulo-header">{{titulo}}</h2>
                </div>
                <div _ngcontent-dho-c236="" class="content-card">
                    <div _ngcontent-dho-c236="" class="content p-24">
                        <div _ngcontent-dho-c236="" _nghost-dho-c235="">
                            <div _ngcontent-dho-c235="" class="demo-content line-height-1.75">
                                <div id="container-1" class="container">
                                    <div id="container-2" class="container">
                                        <div id="container-3" class="container" fusePerfectScrollbar
                                            [fusePerfectScrollbarOptions]="{suppressScrollX: true, updateOnRouteChange : true}">
                                            <router-outlet>
                                            </router-outlet>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>